@font-face {
  font-family: unifraktur-cook;
  src: url("../fonts/UnifrakturCook-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: oklch(37.4% 0.01 67.558);
  height: 100vh;
}

header {
  font-family: unifraktur-cook;
  font-weight: bold;
  font-size: 5rem;
  color: oklch(87.9% 0.169 91.605);
  user-select: none;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#table {
  width: 320px;
  aspect-ratio: 1 / 1;
  background: #000;
}

.btn {
  padding: 1rem;
  font-family: unifraktur-cook;
}
