@font-face {
  font-family: unifraktur-cook;
  src: url('../fonts/UnifrakturCook-Bold.ttf');
}

:root {
  --primary-color: oklch(87.9% 0.169 91.605);
  --primary-color-2: oklch(79.5% 0.184 86.047);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  all: unset;
  cursor: pointer;
  user-select: none;
}

body {
  background: linear-gradient(
    0deg,
    oklch(38.1% 0.176 304.987) 0%,
    oklch(59.1% 0.293 322.896) 50%,
    oklch(49.6% 0.265 301.924) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-title {
  font-family: unifraktur-cook;
  font-weight: bold;
  font-size: 10rem;
  color: var(--primary-color);
  user-select: none;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#board-game {
  width: calc(var(--cell-size) * var(--grid));
  aspect-ratio: 1 / 1;
}

.row {
  width: 100%;
  height: var(--cell-size);
  display: flex;
  position: relative;
}

.row::before {
  content: attr(data-row);
  font-family: unifraktur-cook;
  color: var(--primary-color);
  font-size: 2rem;
  width: 3rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: -2rem;
  top: 10%;
}

.row[data-row='1'] .cell::before {
  content: attr(data-letter);
  font-family: unifraktur-cook;
  color: var(--primary-color);
  font-size: 2rem;
  width: 3rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: -80%;
  left: 40%;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  aspect-ratio: 1 / 1;
  font-size: 3rem;
  color: var(--primary-color-2);
  font-family: unifraktur-cook;
  user-select: none;
  cursor: pointer;
}

.cell.light {
  background: white;
}

.cell.dark {
  background: black;
}

.btn-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.btn-group * {
  font-family: unifraktur-cook;
}

.btn {
  padding: 1rem;
  background: var(--primary-color-2);
  font-size: 3rem;
  border-radius: 1rem;
}

.btn:hover {
  background: var(--primary-color);
  transform: translateY(-0.2rem);
}

.toggle-questions {
  position: absolute;
  transform: translateX(150%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle-questions input {
  width: 2rem;
  height: 2rem;
}

.toggle-questions span {
  font-size: 2.5rem;
}
